:root {
  --background-color:black;
  --black:#4f4f4f;  
  --red:#ff6c60;
  --green: #5a6188;
  --yellow: #ffffb6;
  --blue: #96cbfe;
  --purple: #ff73fd;
  --cyan: #c6c5fe;
  --white: #eeeeee;
  --brightBlack: #7c7c7c;
  --brightRed: #ffb6b0;
  --brightGreen: #ceffac;
  --brightYellow: #ffffcc;
  --brightBlue: #b5dcff;
  --brightPurple: #ff9cfe;
  --brightCyan: #dfdffe;
  --brightWhite: #ffffff;
  --background: #000000;
  --foreground: #bbbbbb;
  --selectionBackground: #363983;
  --cursorColor: #ffa560;
}


body {
  margin: 0;
  font-family:'Karla', sans-serif; 
  background-color: #1b1b1b;
  padding: 0px;
}

p {
  color:var(--yellow);
  font-size:14px;
  font-weight: extraLight ;
  line-height: 18px;
}

.para{
  width:800px;
  text-align: center;
}

.request-status{
  font-size:40px;
  padding:30px 0px 0 0;
  margin:0px;
}