.Nav {
  background-color:var(--background-color); 
  font-family: "Poppins";
  padding: 8px 12px;
  display: flex;
  justify-content: space-between; 
}

.app-btn{
  font-size: 15px;
  background-color:var(--background-color); 
  color:var(--white); 
  border-style: none;
  border: 1px #cdcdcd solid;
  cursor:pointer;
}

.app-btn:hover{
  background-color:var(--green)
}



