.todo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin:0px;
    padding:20px;
}

.todo-input{
    width: 200px;
    height: 20px;
    border: 2px solid var(--blue);
    color: var(--red);
}

.todo-list{
    display: flex;
    align-items: center;
}