.Github {
    padding: 80px 0px;
    color: var(--white);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.git-img {
    width:240px;
    height:240px;
    border-radius: 150px;
}

.git-name{
    padding:20px 0 0 0;
    margin:0px;
}

.git-user-name{
    padding:8px 0 0 0;
    margin:0px;
    display:inline-block;
    color: var(--brightGreen);
}
.git-email{
    padding:8px;
    margin:0px;
    color: var(--brightRed);
}


.git-link{
    text-decoration: underline;
}